.deps
.libs
modules
missing
build
mkinstalldirs
ltmain.sh
Makefile*
*.swp
autom4te.cache
acinclude.m4
aclocal.m4
libtool*
ltoptions.m4
ltsugar.m4
ltversion.m4
mkdep.awk
scan_makefile_in.awk
shtool
config.*
configure*
install-sh
*.la
*.lo
run-tests.php
tmp-php.ini
